node_modules/*
platforms/ios/express/app/*
!platforms/ios/express/app/express.json
platforms/android/express/app/src/main/assets/app/*
!platforms/android/express/app/src/main/assets/app/express.json
platforms/ios/express/Pods
platforms/ios/express/products/
platforms/ios/express/jpush/
platforms/ios/express/oss/
platforms/ios/express/wechat/
platforms/ios/express/alipay/
platforms/ios/express/NetEaseIM/
platforms/android/UIKit/
platforms/android/netIm/
platforms/android/oss/
platforms/android/wechat/
platforms/android/jpush/


#app
platforms/express/app/build

.svn
*.DS_Store
.idea
build
temp
dist/*
*.iml
release
#.gradle
/build